@font-face {
  font-family: 'PTSans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTSans';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: 'PTSans', 'Bebas Neue', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

picture {
  display: block;
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

article {
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  color: white;
  cursor: pointer;
  background: none;
}

input, textarea {
  font-family: inherit;
}

:focus {
  outline: none;
}

code {
  font-family: 'Courier New', Courier, monospace;
}

blockquote {
  margin: 0;
  padding-left: 1em;
  border-left: 0.25em solid #ddd;
}
